:root{
  --fuente:'Space Grotesk', sans-serif;

  /* colores */
  --gAzul: hsl(249, 99%, 64%);
  --gMorado: hsl(278, 94%, 30%);
  --error:hsl(0, 100%, 66%);
  --blanco: hsl(0, 0%, 100%);
  --violetaClaro:hsl(270, 3%, 87%);
  --violeta:hsl(279, 6%, 55%);
  --violetaFuerte:hsl(278, 68%, 11%);
}

body{
  font-family:var(--fuente);
  font-size: 18px;
  background-color: #212121;
}
p{
  margin: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
-webkit-appearance: none;
appearance: none;
margin: 0;
}
.blanco{
  color:var(--blanco)
}



.principal{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 576px) {
    .principal{
      margin-top: 90px;
    }
}

@media (min-width: 768px) {
  body{
    background-color: #9e9e9e;
  }
    .principal{
      margin-top:0 ;
      flex-direction: row;
      justify-content: center;
    }
}

